.create__post{
     width: 400px;
    margin: 60px auto;
    text-align: center;
    padding: 20px;
}
.file__upload{
    width: 200px;
}
.create__post__btn{
    background-color: #0984e3;
    color:#fff;
}
.post__preview__img{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    margin-bottom: 14px;
}
.back i{
    position: fixed;
    top: 20px;
    left: 20px;
    font-size: 20px;
}
.imageprogress{
    width: 60%;
}
@media screen and (max-width:760px){
    .create__post{
      width: 300px;
    }
}