.footer{
    position: fixed;
    bottom:0;
    left:0;
    right: 0;
    background-color: #f5f5f5;
    border-bottom: 1px solid #ccc;
    width: 100%;
    z-index: 100; 
    padding: 15px;
}
.footer__box{
    width: 200px;
    margin: 0px auto;
    border: 2px solid #0984e3;
    padding: 6px;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.2s;
    
}
.footer__box:hover{
    transform: translateY(-2px);
}
.footer__box h6{
    font-size: 15px;
    margin-bottom: 0px;
}