.profile__detail{
    width: 70%;
    margin: 80px auto;

}
.profile__detail__card{
    padding: 10px 20px 4px 20px;
}
.profile__bio{
    width: 400px;
    margin: 0px auto;
}
.profile__bio h6{
    font-size: 15px;
}
.bio{
    display: flex;
    justify-content: space-between;
}
.change__password{
    cursor: pointer;
    color:#0984e3;
}
.password__update{
    margin-left: 40px;

}
.profile__text{
    font-size:10px
}
@media screen and (max-width:760px){
    .profile__detail{
        width: 96%;
    }
    .profile__bio{
        width: 250px;
    }  
    
}