@import url('https://fonts.googleapis.com/css2?family=Carattere&family=Open+Sans:wght@300;400;600&display=swap');
/* theme color =>#0984e3
background color =>#ededf5
border-radius=>10px */
 /*-------------------root-----------------------*/
 *{
   padding:0;
   margin: 0;
   box-sizing: border-box;
 }
 body{
   font-size: 15px;
   background-color: #ededf5;
   font-family: 'Open Sans', sans-serif;
 }
 .btn-theme{
   background-color: #0984e3;
   color:#fff;
   width: 500px;
   padding: 1px;
   border-radius: 6px;
   transition: all .5s;

 }
 .btn-theme:hover{
    background-color: #74b9ff;
    color:#dfe6e9;
 }
 .instagram{
   height: 100vh;
 }
 
 a{
  color:#555
}
hr{
  margin: 5px 0px;
 
}
.App{

}

@media screen and (max-width:760px){
  .btn-theme{
    width: 250px;
 
  }
}